@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    width: 100%;
    padding: 0px;
  }
  .logo img{
    width: 42px;
  }
  
  .container-1 {
    display: block;
    padding: 0px;
    background-color: rgb(0, 2, 57);
    /* grid-template-columns: repeat(2,1fr); */
  }
  .text-header {
        color: w;
}
 .typed {
    font-size: 32px;

}
 

  .container-7 {
    flex-wrap: wrap;
    width: 100%;
    height: min-content;
  }
  img {
    width: 100%;
  }
}
