@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: a4;
    src: url('./Fonts/a4.ttf');
}
@font-face {
    font-family: u4;
    src: url('./Fonts/u4.ttf');
}


@font-face {
    font-family: u7;
    src: url('./Fonts/u7.ttf');
}


@font-face {
    font-family: u8;
    src: url('./Fonts/u8.ttf');
}
article{
    font-family: u7;
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
h1{
    font-family: u8;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

h2{
    font-family: u8;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}


p{
    font-family: u4;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}


span{
    display: inline-block;
    font-family: u4;
    font-size: 1.0rem;
    color: #fff;
    text-align: center;
}
